@using Blazor.Components.Layout.TopNav
@inherits LayoutComponentBase

<div id="pageContainer" class="flex flex-col min-h-dvh">
    <div id="stretchWrapper" class="grow flex flex-col">

        @* Top Nav *@
        <div id="topbar" class="sticky left-0 top-0 z-40">
            <NavMenu/>
        </div>

        @* Main Body *@
        <div id="main" class="flex grow items-stretch justify-center bg-gray-50">
            <div id="mainContainer" class="flex grow max-w-screen-xl">
                @Body
            </div>
        </div>

        @* Footer *@
        <div id="footer">

        </div>

    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>